{% extends 'milk/base.html' %}
{% block title %}


#commenter{font-size:13px; font-weight:649;
                margin-left:2px;
                text-transform:capitalize;
                 color: purple;}

#comment_box{margin-top:18px;width:100%;
                        padding:10px;
                        border-radius:10px;
                        background-color:#FFE8FF;
      }

#creator{text-transform:uppercase; color: brown;}

#combody{display:block; letter-spacing:0.01em; line-height: 1.4em !important; color:black; font-size:14px; margin:2px;
                }
#hearticon{font-size:15px; color:brown;}
#comment_time{float: right;font-family:"baloo da 2"; color:purple;}
  #title{font-family:"times new roman"}
 #com-pic{margin-top:19px;
       height:30pt; width:30pt;
        border-radius:50%;
       background-repeat:no-repeat;
       background-size:cover; border:2px solid #D6D6D6;
       }
#replyform{ margin-top:20%;}
{% endblock %}
{% block content %}
    <h5 class="text-center my-3" id="title">
        <a href="{% url 'post_detail' comment.post.slug %}" style="color:black">{{ comment.post.title }}</a></h5>

<div class="row">
<div class="col-2">

          <div id="com-pic" style="background-image:url('{{ comment.dp }}');">
          </div>
</div>
<div class="col-10">
    <div id="comment_box">
    <a href="{% url 'profile_detail' comment.name.id %}">
        <span id="commenter">{{ comment.name }}
            {% if comment.name == post.creator %}<i class="fa fa-microphone"></i>{% endif %}
        </span></a>

            <br><small id="combody" class="my-1">
                {{ comment.body }}<br>
        </small>
        {% if comment.comment_pic %}
            <img src="{{ comment.comment_pic.url }}" class="my-1" style="max-width:100%;">
        {% endif %}
    </div>
       {% if request.user == comment.name or request.user.perms.superuser %}
    <a href="{% url 'comment_update' comment.pk %}">
                <small style="color:grey; font-size:12px; margin-right:15px;">
                    edit
                </small>
    </a>
    <a href="{% url 'comment_confirm_delete' comment.pk %}?next={{ request.path}}">
                <small style="color:grey; font-size:12px; margin-right:15px;">
                    delete
                </small>
    </a>
    {% endif %}
        <a href="{{comment.get_absolute_url}}">
                <small style="color:grey; font-size:12px; margin-right:15px;">
                    reply
                </small>
        </a>


<div class="container-fluid" style="padding:3px">
{% if replies %}
        {% block reply_list %}{% include 'milk/includes/reply_list.html' %}{% endblock %}
{% endif %}
</div>

</div>
</div>
<div class="mt-5">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        {{ form.body }}
    <br>
    <span style="font-size:14px; float:left;"> {{ form.comment_pic }}</span>
        <button class="btn btn-sm btn-primary pull-right" type="submit">
            send
        </button>
</form>
</div>
{% endblock %}
