{% extends 'milk/base.html' %}
{% block title %}

{% endblock %}
{% block content %}
{% if posts or comments %}
    <center class="mt-4">
    <h6> Results found for "{{ query }}"</h6>
</center>
{% if posts %}
<small>Posts ({{ posts.count }})</small>
<ul class="list-group my-3" style="">
        {% include 'milk/general_post_list.html' %}
</ul>
{% endif %}
<div class="container-fluid" style="padding:6px">
<small>Comments ({{ comments.count }})</small>
{% if comments %}
        {% block comment_list %}{% include 'milk/includes/comment_list.html' %}{% endblock %}
{% endif %}
</div>
{% else %}
<center CLASS="mt-4" style="color:brown">
    <H6><i class="fa fa-frown-o"></i> No results found for "{{ query }}"</H6>
</center>
{% endif %}
{% endblock %}
