<style>


#commicon{ font-size:12pt; }
#post_title{ font-weight:450; color:black;font-size:15px; display:inline-block; line-height:1.3em;}
#post_info{font-size:10pt}

@media( min-width:768px)
{#post_pic{width:90px; max-height:90px; float:right;
    margin-right: 8px;   margin-top: 4px;
        }}

#postpic{width:60px; max-height:40px; float:right;
    margin-right: 8px;}

    .cocons{color:purple;}
</style>
<ul class="list-group mb-3" style=" display:block;">
{% for post in posts %}
    <li  class="list-group-item" style=" focus:text-decoration:none;padding:5px; border:1px solid #D8D8D8;border-left:none; border-right:none; display:block;">
        <a href="{% url 'post_detail' post.slug %}" style=" display:block;">
        {% if post.post_pic %}

        <div class="row">
            <div class="col-9" style="display:block;">
                <span id="post_title" class="mb-0">{{ post.title|capfirst }}</span><br>
    <span style="font-size:12px; color:brown">
        <span class="mr-2"><i class="fa fa-eye"></i><sup>{{ post.visits }} </sup></span>
        <span class="mr-3"><i class="fa fa-comments-o"></i><sup>{{ post.comments.count}} </sup></span>
            <span class="text-muted" style="font-size:13px">By {{ post.creator| capfirst }}</span>
    </span>
            </div>
            <div class="col-3">
                <img src="{{ post.post_pic.url}}"  id="postpic" class="mt-1"><br>
            </div>
        </div>
        {% else %}

        <span id="post_title">{{ post.title|capfirst }}</span><br>
    <span style="font-size:12px; color:brown;">
        <span class="mr-2"><i class="fa fa-eye"></i><sup>{{ post.visits }} </sup></span>
        <span class="mr-3"><i class="fa fa-comments-o"></i><sup>{{ post.comments.count}} </sup></span>
    </span>
            <span class="text-muted" style="font-size:13px">By {{ post.creator| capfirst }}</span>
        {% endif %}
    </a></li>
{% endfor %}
</ul>


{% if posts.count > 8 %}
<center class="pagination" style="font-size:13px;">
<span class="step-links">
{% if page_obj.has_previous %}
<a href="?page=1">&laquo; first</a>
<a href="?page={{ page_obj.previous_page_number }}">previous</a>
{% endif %}
<span class="current">
Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
</span>
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">next</a>
<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
{% endif %}
</span>
</center>
{% endif %}
