{% extends 'theseven/base.html' %}
{% block title %}


#creator{
    font-family:"baloo da 2";
    color: gray; opacity:0.8;
    font-size:14pt;
    max-width:40px;}


@media( min-width:768px)
{#post_pic{width:90px; max-height:90px; float:right;
    margin-right: 8px;
        }}


@media( max-width:768px)
{
#date{display: none;}
        }

#date{ float: right; color:gray; font-size:22px; font-family:"baloo da 2";}

#postpic{width:60px; max-height:40px; float:right;
    margin-right: 8px;}

#plus{color:magenta; font-size:79px; margin-top:50px 0 50px 0; float:right}
{% endblock %}
{% block content %}
            <div id="sm">
                {% block small_carousel %} {% include 'theseven/includes/small_carousel.html' %} {% endblock small_carousel %}
            </div>

<small class="sm" style="color:brown; font-weight:600; margin-left:8px">LATEST POSTS</small>
<h4 class="bg" style="color:brown; font-weight:600; margin-left:8px">LATEST POSTS</h4>
<small class="sm pull-right text-muted" style="font-size:12px">{{date}}</small>
{% if posts %}
        {% include 'theseven/general_post_list.html' %}
{% endif %}

<div>
    <a href="{% url 'post_form' %}">
        <i class="fa fa-plus-circle" id="plus"></i>
    </a>
</div>


{% endblock %}
