{% extends 'theseven/base.html' %}
{% block title %}


          #followbtn{ float:right; }

@media( max-width:768px){
        #box{ width:320px; }}

          #prodp{height:75px; width:75px; border:1px solid lightgrey;
        border-radius:50%;
       background-repeat:no-repeat;
       background-size:cover;
                }

        #icons{ float:center; margin-top:0px}
          #social{ font-size:14pt; color:brown; margin:0px 0px 0px 7px;}

 .fa-pencil-square-o{ color: grey; float:right;}


          .tag{ border:none; background-color: ; width:100%}

          #bio{color:grey;}
          #binfo{  color:black; }
#pinfo{background-color:#FDD1FF; opacity:0.8; border-radius:40px; padding:6px; margin-top:4px; display:inline-block;}
.ppinfo{ font-size:14px;}
{% endblock %}
{% block content %}
  {% load static %}

{% if request.user.profile.visits == 1 %}
{% include 'theseven/profile_form.html' %}
{% else %}
                 <div class="mt-3">
        <div class="row">
            <div class="col-4" style="display:block;">
                {% if user.profile.dp %}
                  <div id="prodp" style="background-image:url('{{ user.profile.dp }}'); float:right;" data-toggle="modal" data-target="#modalpic">
                  </div>
                {%  else %}
        <i  style="font-size:75px; color:grey" class="fa fa-user-circle-o ml-4"></i>
                {%  endif %}
            </div>
            <div class="col-8">
                <span style="font-weight:649;">{{ user|capfirst }}</span>

                {% if request.user == user %}
                <a href="{% url 'profile' %}" >
                    <i class="fa fa-pencil-square-o" style="font-size:26px"></i>
                </a><br>
                {% endif %}
                <div style="display:block; line-height:0.9em;">

<span style="font-size:11px"> {{ user.profile.job }}<br>
                <i class="text-dark">Member since </i><b class="text-dark" style="opacity:1.8"> {{ user.profile.joined }}</b>
</span>

            </div>
        </div>
                 </div>
    <br>
        <div class="tag">
<div  class="mb-3 ml-3 ppinfo">
    <span id="pinfo"><i class="fa fa-male"></i>
    <b id="binfo">{{ user.profile.gender }} </b><br>
    </span>

    <span id="pinfo"><i class="fa fa-heartbeat"></i>
        <b id="binfo">{{ user.profile.birthday }}</b><br>
    </span>

    <span id="pinfo"> <i class="fa fa-envelope"></i>
    <b id="binfo">{{ user.email }}</b><br>
    </span>

    <span id="pinfo"> <i class="fa fa-map-marker"></i>
    <b id="binfo">{% if user.profile.state %}{{ user.profile.state }},{% endif %} {{ user.profile.country }}</b><br>
    </span>
</div>
        </div>
<center>
            <div class="mb-4 mt-4" style="display:block; line-height:1.4em; font-size:12px; color:grey; margin:4px;">
                BIO<br>{{ user.profile.bio }}<br>
            </div>
</center>
{% if posts %}
<small style="color:brown; font-weight:600; margin-left:8px">MY POSTS</small>
        {% include 'theseven/general_post_list.html' %}
{% endif %}
<center>
</center></div>
{% endif %}
<!-- Modal -->
                {% if user.profile.dp %}
<center>
<div class="modal fade" id="modalpic" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="width:89%">
      <img src="{{ user.profile.dp.url }}" style="max-width:89%">
    </div>
  </div>
</center>
{% endif %}
{% endblock %}
