 {% extends 'milk/base.html' %}
{% block title %}
#redot{border-radius:50%; border:none; background-color:red; height:14px; width:14px; display:inline-block;
       float:right; color:white; font-size:10px; text-align:center}
.curve{width:auto; height:20px; background-color:whitesmoke; border-none; border-radius:80px; padding:7px; color:black}
{% endblock %}

{% block content %}
<h3 class="mt-4">Notifications</h3>
<div class="row my-3">
    <div class="col-3">
        <span class="curve">
        <a href="{% url 'rep_notifications' %}" style="color:black; font-size:15px;">
            Replies
        </a>
            {% if nreplies %}
                <span id="redot">{{ nreplies.count }}</span>
            {% endif %}
        </span>
    </div>
    <div class="col-4">
        <span class="curve" style="background-color:#FFE8FF;">
        <a href="{% url 'com_notifications' %}" style="color:black; font-size:15px;">
            Comments
        </a></span>
    </div>
    <div class="col-4 ">
        <span class="curve">
        <a href="{% url 'men_notifications' %}" style="color:black;  font-size:15px;">
            Mentions
        </a>
            {% if nmentions %}
                <span id="redot">{{ nmentions.count }}</span>
            {% endif %}
        </span>
    </div>
    </div>
    <ul class="list-group mt-4">
            {% for com in ncomments %}
            <li class="list-group-item" style=" padding:6px; padding-bottom:12px; font-size:14px; display:block; border-left:none; border-right:none;">
        <a href="{% url 'post_detail' com.post.slug%}" style="display:block; color:black">

            <b>{{ com.name|capfirst }}</b> commented on your post "<b>{{ com.post.title|capfirst }}</b>".
            <br><small style="float:right">{{ com.created_on| timesince}} ago</small>
        </a>
            </li>
            {% endfor %}
      </ul>

{% endblock %}
